#
# git config --global core.excludesfile ~/.gitignore_global
#

# ignore config files
config.py
myscratch.py
scratch.py
test.py

# ignore types
*.log
*.sql
*.csv

# ignore dir
.idea/
__pycache__/
venv/
log/
.ipynb_checkpoints
